:root { 
--gray_700:#666666; 
--gray_400:#c4c4c4; 
--gray_500:#979797; 
--blue_gray_100:#d4d8e4; 
--blue_800:#1d4ed8; 
--red_900:#a70000; 
--blue_gray_100_01:#cccccc; 
--gray_400_4c:#bebebe4c; 
--green_900:#087b2f; 
--black_900_0c:#0000000c; 
--gray_100:#f4faf6; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--cyan_50_01:#d0f7f9; 
--gray_500_01:#9f9f9f; 
--gray_100_01:#f4f4f4; 
--green_900_01:#077b2e; 
--cyan_50:#d0f7fa; 
--white_A700:#ffffff; 
}